

.form-control:focus {
  box-shadow: none !important;
  border-color: #0d6efd !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.btn-primary {
  border-radius: 30px;
  font-size: 16px;
}

.btn-primary:hover {
  opacity: 0.9;
}


.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
}


.eye{
  position: absolute !important;
  right: 15px;
  top: 20px;
  cursor: pointer;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
}

.form-floating .floating-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none;
  z-index: 3;
}

.form-floating > .form-control {
  padding-left: 2.25rem;
}


.form-floating > label {
  left: 2.25rem;
}