<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="assets/img/heroimage2.jpg" alt="Image">
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="tagline">Bee Bloom</strong>
                </p>
                <h1 class="display-1 text-dark mb-4 animated zoomIn tagline">Straight From Our Beehive To You</h1>
                <!-- <h1  [innerHTML]="tagline"></h1> -->
                <!-- <h1 class="display-1 text-dark mb-4 animated zoomIn tagline" [innerText]="tagline"></h1> -->
                <a routerLink="/store" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Order Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/img/heroimage1.jpg" alt="Image">
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-center">
              <!-- <div class="col-lg-7 text-center">
                <p class="fs-4 text-white animated zoomIn">Welcome to <strong class="text-dark">Kinnaur apples</strong></p>
                <h1 class="display-1 text-dark mb-4 animated zoomIn tagline2"  >From Himalayas to Your Doorstep</h1>
                <a href="" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button> -->
    <!-- <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="assets/img/about1.jpg"
              alt="">
            <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="assets/img/about4.jpg" alt="">
          </div>
          <div class="col-6">
            <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="assets/img/about3.jpg"
              alt="">
            <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="assets/img/about2.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="section-title">
          <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
          <h1 class="display-6">The Journey of Bee Bloom</h1>
        </div>
        <div class="row g-3 mb-4">
          <div class="col-sm-4">
            <img class="img-fluid bg-white w-100" src="assets/img/about5.jpg" alt="">
          </div>
          <div class="col-sm-8">
            <h5>Our journey started with a love for nature and bees.</h5>
            <p class="mb-0">We care for our bees in a natural and safe environment, letting them collect nectar from fresh flowers. We do not rush the process or harm the bees. <br> We collect honey gently so it stays pure, fresh, and full of natural goodness. Every jar of our honey is made with care, honesty, and respect for nature.</p>
          </div>
        </div>
        <div class="border-top mb-4"></div>
        <div class="row g-3">
          <div class="col-sm-8">
            <h5>This is Beeva Honey—A story of flowers, bees, and honey, shared with you.</h5>
            <p class="mb-0">It all begins in a field full of flowers. As the sun rises, bees set out on their daily journey, moving from bloom to bloom and collecting sweet nectar. This nectar is carefully carried back to the hive, where the real magic begins.</p>
          </div>
          <div class="col-sm-4">
            <img class="img-fluid bg-white w-100" src="assets/img/about6.jpg" alt="">
          </div>
          <div class="row g-3 mb-4">
            <div class="col-sm-8">
            <!-- <h5>This is Beeva Honey—A story of flowers, bees, and honey, shared with you.</h5> -->
            <p class="mb-0">The bees fan their wings, letting time and nature do their work. When the honey is finally ready, it is sealed safely inside the honeycomb with natural beeswax. <br>
            From the first flower to the final jar, <b>every step is guided by respect for bees and love for nature</b>.</p>
          </div>
             <div class="col-sm-4">
            <img class="img-fluid bg-white w-100" src="assets/img/about7.jpg" alt="">
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Products Start -->
<div class="container-fluid product py-5 my-5">
  <div class="container py-5">
    <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-medium fst-italic text-primary">Our Products</p>
      <h1 class="display-6">Pure nutrition from the heart of the Himalayas</h1>
    </div>
    <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product1.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Bee Pollen</h4>
          <span class="text-body">Bee pollen is a natural superfood made by bees, rich in nutrients that support energy, immunity, and overall health.</span>
        </div>
      </a>
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product2.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Comb Honey</h4>
          <span class="text-body">Comb honey is eaten directly from the comb and is valued for its fresh flavor, purity, and natural enzymes.</span>
        </div>
      </a>
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product3.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Rose wood Honey</h4>
          <span class="text-body">Rosewood honey is a rare natural honey collected by bees from rosewood tree blossoms, and rich antioxidant content.</span>
        </div>
      </a>
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product4.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Cream Honey</h4>
          <span class="text-body">Cream honey is a naturally collected by bees from mustard flowers, known for its rich aroma, mild sweetness .</span>
        </div>
      </a>
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product4.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Eucalyptus Honey</h4>
          <span class="text-body">Eucalyptus honey is a natural honey from eucalyptus flowers, known for its bold taste and soothing benefits. .</span>
        </div>
      </a>
      <a href="" class="d-block product-item rounded">
        <img src="assets/img/product5.jpg" alt="">
        <div class="bg-white shadow-sm text-center p-4 position-relative mt-n5 mx-4">
          <h4 class="text-primary">Bee Wax</h4>
          <span class="text-body">It takes about 8–10 kg of honey to produce 1 kg of beeswax and It has been used for thousands of years in cosmetics, medicines.</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Products End -->

<!-- Article Start -->
<!-- <div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid" src="assets/img/article.png" alt="">
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="section-title">
          <p class="fs-5 fw-medium fst-italic text-primary">Featured Acticle</p>
          <h1 class="display-6">The legacy of Kinnaur apples in the Himalayas</h1>
        </div>
        <p class="mb-4">Grown at high altitudes where crisp mountain air meets fertile soil, Kinnaur apples have been
          cultivated for generations. The cold winters and abundant sunshine create the perfect balance of sweetness and
          crunch.</p>
        <p class="mb-4">Our farmers use traditional organic methods passed down through families, ensuring each apple is
          naturally grown without chemicals. The result is fruit that's delicious and packed with authentic Himalayan
          flavor.</p>
        <a routerLink="/" (click)="scroll()" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
      </div>
    </div>
  </div>
</div> -->
<!-- Article End -->

<!-- Video Start -->
<!-- <div class="container-fluid video my-5">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-6 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="py-5">
          <h1 class="display-6 mb-4">Apples are nature's gift of <span class="text-white"> health</span> and <span
              class="text-white">vitality</span></h1>
          <h5 class="fw-normal lh-base fst-italic text-white mb-5">Packed with antioxidants and essential nutrients, our
            organic Himalayan apples support your wellness journey. Rich in fiber and vitamins, each crisp bite
            nourishes your body naturally.</h5>
          <div class="row g-4 mb-5">
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                  <i class="fa fa-check"></i>
                </div>
                <span class="text-dark">Premium apple varieties</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                  <i class="fa fa-check"></i>
                </div>
                <span class="text-dark">Farm-fresh delivery</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                  <i class="fa fa-check"></i>
                </div>
                <span class="text-dark">Rich in nutrients & flavor</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 btn-lg-square bg-white text-primary rounded-circle me-3">
                  <i class="fa fa-check"></i>
                </div>
                <span class="text-dark">Organic & pesticide-free</span>
              </div>
            </div>
          </div>
          <a class="btn btn-light rounded-pill py-3 px-5" href="">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Video End -->

<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
            allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->

<!-- Store Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-medium fst-italic text-primary">Online Store</p>
      <h1 class="display-6">Want to stay healthy? Choose organic honey</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let product of products">
        <div class="store-item position-relative text-center">
          <img class="img-fluid" [src]="product.image" [alt]="product.name">
          <div class="p-4">
            <div class="text-center mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
            </div>
            <h4 class="mb-3">{{ product.name }}</h4>
            <h4 class="mb-3">{{ product.weight }}</h4>
            <p>{{product.description}}</p>
            <div class="price-div" >
              <h4 class="text-primary text-decoration-line-through">₹ {{product.price}}</h4>
              <h4 class="text-primary">₹ {{product.discount_price}} </h4>
            </div>
          </div>
          <div class="store-overlay">
            <button class="btn btn-dark rounded-pill py-2 px-4 m-2" (click)="addToCart(product.id,product.count)">Add to
              Cart <i class="fa fa-cart-plus ms-2"></i></button>
            <div class="action-row">
              <div class="quantity-box">
                <button class="qty-btn" (click)="quantDel(product)" [disabled]="product.count <= 1">-</button>
                <input type="text" [(ngModel)]="product.count" class="qty-input" readonly />
                <button class="qty-btn" (click)="quantAdd(product)">+</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <a routerLink="store" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
      </div> -->
    </div>
  </div>
</div>
<!-- Store End -->

<!-- Testimonial Start -->
<!-- <div class="container-fluid testimonial py-5 my-5">
  <div class="container py-5">
    <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-medium fst-italic text-white">Testimonial</p>
      <h1 class="display-6">What our clients say about our apples</h1>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.5s">
      <div class="testimonial-item p-4 p-lg-5">
        <p class="mb-4">The sweetness and crunch are unmatched! You can truly taste the Himalayan difference. My family
          refuses to buy apples from anywhere else</p>
        <div class="d-flex align-items-center justify-content-center">
          <img class="img-fluid flex-shrink-0" src="assets/img/testimonial-1.jpg" alt="">
          <div class="text-start ms-3">
            <h5>Priya Sharma</h5>
            <span class="text-primary">Mumbai, Maharashtra</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item p-4 p-lg-5">
        <p class="mb-4">Consistently excellent quality! The apples arrive fresh, well-packed, and last much longer than store-bought ones</p>
        <div class="d-flex align-items-center justify-content-center">
          <img class="img-fluid flex-shrink-0" src="assets/img/testimonial-2.jpg" alt="">
          <div class="text-start ms-3">
            <h5>Rajesh Kumar</h5>
            <span class="text-primary">Bangalore, Karnataka</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item p-4 p-lg-5">
        <p class="mb-4">Impressed with the purity and taste. They're crisp, naturally sweet, and my kids love them. Great for health!</p>
        <div class="d-flex align-items-center justify-content-center">
          <img class="img-fluid flex-shrink-0" src="assets/img/testimonial-3.jpg" alt="">
          <div class="text-start ms-3">
            <h5>Anjali Mehta</h5>
            <span class="text-primary">Delhi, NCR</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Testimonial End -->

<!-- Contact Start -->
<div class="container-xxl contact py-5">
  <div class="container">
    <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <p class="fs-5 fw-medium fst-italic text-primary">Contact Us</p>
      <h1 class="display-6">Contact us right now</h1>
    </div>
    <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-lg-8">
        <p class="text-center mb-5">Organic honey delivered straight from our beehive to your doorstep. Experience the authentic taste of organic finest produce, harvest naturally using scientific beekeeping .</p>
        <div class="row g-5">
          <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="btn-square mx-auto mb-3">
              <i class="fa fa-envelope fa-2x text-white"></i>
            </div>
            <p class="mb-2">{{email}}</p>
          </div>
          <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
            <div class="btn-square mx-auto mb-3">
              <i class="fa fa-phone fa-2x text-white"></i>
            </div>
            <p class="mb-2">{{num}}</p>
          </div>
          <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
            <div class="btn-square mx-auto mb-3">
              <i class="fa fa-map-marker-alt fa-2x text-white"></i>
            </div>
            <p class="mb-2">uttat pradesh, India</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>