/* You can add global styles to this file, and also import other style files */
.ngx-toastr {
  border-radius: 10px !important;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: #88b44e !important;
}
